<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="./abc/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">AB</span> Property </h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href=""><i class="fa fa-home"></i> Home</a></li>
            <li><a href="Customer_Profile"><i class="fa fa-user"></i> Profile</a></li>
            <li><a href=" Customer_Feedback"><i class="fa fa-envelope"></i> Feedback</a></li>
            <li><a href=" Customer_Upload"><i class="fa fa-upload"></i> Upload Property</a></li>
            <li><a href="Customer_Edit "><i class="fa fa-edit"></i> Edit Property</a></li>
            <li><a href="Customer_Delete "> <i class="fa fa-trash"></i> Delete Post</a></li>
            <li><a href="/logout "> <i class="fa fa-sign-out"></i> LogOut</a></li>
            
          </ul>
        </nav>
      </div>

    </header>



	
<div class="option">
	<select id="p">
	  <option value="buy" >Buy</option>
	  <option value="rental">Rental</option>
	</select>

	<input id="p" placeholder="Location" type="text" name="location">
	<input id="p" placeholder="Budget" type="number" name="budget" min="0">

	<select id="p">
	   <option value="type">Type</option>
	  <option value="appartment">Appartment</option>
	  <option value="room">Room</option>
	   <option value="duplex">Duplex</option>
	    <option value="bachelor">Bachelor</option>
	</select>

   <input id="p" placeholder="Area (sq. ft.)" type="number" name="area">
   <input id="p" placeholder="Bed" type="number" name="bed" min="1" max="10">

   <button type="submit" id="search"><i class="fa fa-search"></i></button>
	

</div>

<br>



<!-- Pic & Price -->


 <center>
<section >
    <% for(var i=0; i < propertylist.length; i++){ %>
<div class="responsive" >
            <div class="gallery">


        <form method="post" action="/home/Property_details/<%= propertylist[i].property_id %>">

           <button style="border: 3px solid #ccc;border-radius: 4px;height: 90%;width: 100%;font-size: 14px;" name="ab" id="<%= propertylist[i].property_id %>" ><img src="<%= propertylist[i].image %>" >
              Price: <%= propertylist[i].property_price %><br><br>
              <%= propertylist[i].property_area %><br><br><%= propertylist[i].style %><br><br>
              <i class="fa fa-bed"></i> <%= propertylist[i].bed %> 
              <i class="fa fa-bath"> <%= propertylist[i].bath %></i> &#9949;<%= propertylist[i].feet %> sq. ft <br><br>

            </button>
          </form>
            <br>  
              
            <br>
            
            </div>
            </div> 

  <% } %>         
                    
</section>

  </center> 
<br>



 


<!-- Footer-->

<footer>
      <p> Copyright &copy; 2020-2030</p>
</footer>

</body>
</html>
